body{
    background-color: #5D2971;
}
.main{
    width:80%;
}
.body{
    padding: 2%;
}
p{
    color: white;
    width:95%;
    word-wrap: normal;
    font-size: 1em;
}
.photo-tiles{
    width:500px;
    height:300px;
}
h1{
    color:#290238;
    text-align: center;
    font-size:3em;
}
h3{
    color:#BDA7C5;
    font-size: 2em;
}

img:hover{
    width:600px;
    height:450px;
}